sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: uaSkD7Ca8E+NFnJgSs9XoqiJ/XHpcO3xlE4RdP3dagDkFv0h6gV7UG6+Ax+VAunvBR0shpBKxDWjiSPDdxQOh3mIz8cPhStsZHUoGAlJF7H2Moir+BFJjKa/+zC+GzYSxeNUCy00y/ItDZaOUM6pAEYfujVBsltDzzSwwJY5lC8DvThQey7YYWsIxFU69MwV0FwUQ9J8EK7nChaoZecT/4KipVy5i7x33FNaqmNdUlWNFNqYHxMWqrM7keu3z77rCOEX7lSbIUPwQ/J5bHT8NckA4WArY8U2KLdoTwU3i3pKd3EB8QDiUYB5ML5BYc2/oNmoMCmJSLm2HOZwpr7Ys3pbAgwopY2ahY85y9o49I02ve+oI8Y2v93BdiK+4uIaw2HM04y8tmS6Xc5ZANbhPH2hlbDZIE21l0S4c98vl/lA42q7tKEPXRIi95ZmjfWDZNOjpfa/rSrWCHSmaWSvckKA+RG2bLniuANifh3z8YK2pNoHWsh1olJv94UhKsa2uMlLv0SipVzOznuew6jXpUXLpF9kP0UuLzXQMp0fPNWZ9+LTT2LV2wOfK36sFIlTkmnN0xy9rfi1UThKdItjm0J6mhmXFHhS4Cwu2rA9PK7OhIMBZM3nnNA9XdJc+O8olsBgQyD7wuX0Bbs/2uTQ83HolYrZkA3j6jO67yv7z54=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Die-Versuchung-des-Pescara_3675
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy